
body {
    background-color: rgb(75, 41, 26);
    margin: 0px;
}

#container {
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 98%;
    margin: 1%;
    font-family: 'Tangerine', serif;
    font-size: 48px;
}

ul {
    background-color:  rgb(71, 88, 69);
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
}

li {
    font-size: 30px;
    display: inline;
    padding: 5px;
}

a {
    color: rgb(193, 216, 189);
    text-decoration: none;    
    text-shadow: 2px 2px 5px rgb(75, 41, 26);
}
  a:hover {
    color:rgb(255, 255, 255);  
    text-shadow: 2px 2px 5px rgb(255, 255, 255); 
  }

.menu {
    background-color: rgb(208, 231, 205);
    width: 50%;
    height: 10%;
    border: 5px solid rgb(75, 41, 26);
    margin-left: 1%;
    margin-top: 1%;
}

.menu1 {
    background-color: rgb(208, 231, 205);
    width: 50%;
    height: 50%;
    border: 5px solid rgb(75, 41, 26);
    margin-left: 1%;
    margin-top: 1%;
}

p {
    color: rgb(75, 41, 26);
    font-size: 40px;
    margin: 1%;
}

h1 {
    margin: 1%;
    font-size:30px;
    color: rgb(75, 41, 26);
    font-style: unset;
    
}

h2 {
    margin: 1%;
    font-size: 20px;
    color: rgb(75, 41, 26);
}

.lichter {
    color: rgb(255, 255, 255); 
    text-shadow: 2px 2px 5px rgb(75, 41, 26);
}