
body {
    background-color: #3f352d;
    margin: 0px;

}

#container {
    background-color: #f2ece7;
    width: 98%;
    height: 98%;
    margin: 1%;
    font-family: 'Tangerine', serif;
    font-size: 48px;
}

ul {
    background-color: #3D4E40;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 20px;
}

li {
    font-size: 30px;
    display: inline;
    padding: 5px;
}

a {
    color: #C6D8CA;
    text-decoration: none;    
    text-shadow: 2px 2px 5px #3f352d;
}
  a:hover {
    color: #F9FFFB;  
    text-shadow: 2px 2px 5px #F9FFFB; 
  }

.menu {
    background-color: #C6D8CA;
    width: 90%;
    height: 20%;
    border: 5px solid #3f352d;
    margin-left: 1%;
    margin-top: 1%;
}

.menu1 {
    background-color: #C6D8CA;
    width: 90%;
    height: 80%;
    border: 5px solid #3f352d;
    margin-left: 1%;
    margin-top: 1%;
}

p {
    color: #3f352d;
    font-size: 40px;
    margin: 1%;
}

h1 {
    margin: 1%;
    font-size:30px;
    color: #3f352d;
    font-style: unset;
    
}

h2 {
    margin: 1%;
    font-size: 20px;
    color: #3f352d;
}

.lichter {
    color: #F9FFFB; 
    text-shadow: 2px 2px 5px #3f352d;
}

#hoofdpagina {
    display: flex;
}
