h1 {
  height: 50px;
  width: 300px;
  background-color: burlywood;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
}
h2 {
   color: black;
   height: 30px;
   width: 150px;
   border:2px solid darkblue;
}
h3 {
   color: dimgray;
   text-decoration: overline;
   text-decoration: underline;
}
h4 {
    style="width: 2; height: 145;"
}